<br />
<div class="container">
  <div class="row">
    <div class="col-12 cards">
      <%- @list_av.each do |av| %>
        <div class="card" style="width: 18rem;">
          <img src=<%= av['preview_url'] %> class='card-img-top' alt="" style="height: 200px;"/>
          <div class="card-body">
            <h5 class="card-title"><%= av['title']%></h5>
            <%= link_to 'Go to View',av_detail_path(vid: av['vid']) , class: 'btn btn-primary' %>
          </div>
        </div>
<!--        <iframe width="530" height="298" src="https://avgle.com/embed/301ffd77e62b1de6eeb3" frameborder="0" allowfullscreen></iframe>-->
    <% end %>

    </div>
    <div class="col-12">
      <br />
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
