<br />
<div class="container bg-container">
  <div class="row">
    <div class="col-12 text-center">
      <h1>
        <%= @av['title'] %>
      </h1>
      <br />
      <iframe width="100%" height="500" src="<%= @av['embedded_url'] %>" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>