
<%= simple_form_for(room) do |f| %>
  <div class="row align-items-end">
    <div class="col-7">
      <%= f.input :name, label: false, placeholder: 'Room name' %>
    </div>
    <div class="col-5">
      <div class="form-actions mt-2">
        <%= f.button :submit, 'Add Room', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>


<% end %>
