

.cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  .card {
    height: fit-content;
  }
  a:not(.btn) {
    color: #333;
    text-decoration: none;
  }

  .card-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 0;
  }

}

@media screen and (min-width: $tablet) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: $desktop) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}