.sidebar {

}
.chat-rooms {
  .chat-messages {
    height: calc(100vh - 300px);
    overflow-y: auto;
    .message {
      width: calc(40% - 15px);
      &.me {
        margin-left: auto;
        .content {
          text-align: right;
          background: dodgerblue;
          color: white;
        }
        .author {
          text-align: right;
        }
      }
      .content {
        background: ghostwhite;
        border-radius: 30px;
        padding: 10px 20px;
      }
    }
  }

  .chat-box {
    //position: absolute;
    //bottom: 20px;
    //left: 0;
    //right: 0;
    //background: white;
  }
}