.toast {
  animation-name: fadeOut;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  animation-delay: 7s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  transition: 0.5s ease-in;
}
@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity: 0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}