<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to 'Code Breaker Diary', root_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <%- ContentType.all.each do |menu| %>
          <li class="nav-item">
            <%= link_to menu.name, content_type_path(menu), class: "nav-link" %>
          </li>

        <% end %>
      </ul>
      <%= link_to 'Manage Menu', content_types_path, class: 'btn btn-outline-secondary'  %>
    </div>
  </div>
</nav>
